@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/GoogleSans-Regular.otf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/GoogleSans-Bold.otf") format("woff");
}
body {
  font-family: "Google Sans";
  font-size: 16px;
  color: #181615;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: #181615;
}
a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

.page-404{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.page-404 img{
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}
.page-404 h1{
  color: #283783;
  font-size: 77px;
  margin-bottom: 20px;
}

.button-404{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.button-404 .button-action{
  margin: auto;
  display: ruby;
}
.about-heading img{
  margin-top: 30px !important;
}
img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: "Google Sans Bold";
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 34px;
}

.scroll-to-top {
  background: white;
  position: fixed;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
}

.item-meateam {
  display: inline-block;
  margin: 40px 0 30px 0;
  width: 100%;
}
.item-meateam img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.item-meateam b {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}
.item-meateam span {
  color: #444342;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.content-value-section {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.content-value-section .value-section-desktop {
  text-align: center;
  position: absolute;
  top: 165px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 72px;
}
.content-value-section .value-section-desktop b {
  font-size: 16px;
  text-align: left;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 36px;
  color: white;
}
.content-value-section .value-section-desktop b span {
  display: inline-block;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}
.content-value-section .value-section-desktop p {
  font-size: 14px;
  color: #444342;
  margin-top: 20px;
}
.content-value-section .value-section-desktop .item-value {
  text-align: center;
  width: 253px;
}
.content-value-section .value-section-desktop .item-value.brandcolor b {
  padding-left: 46px;
}
.content-value-section .value-section-desktop .item-value.yellowcolor b {
  padding-left: 56px;
}

header {
  width: 100%;
  left: 0;
  z-index: 9;
  background: white;
  padding: 3px 50px;
}
header .body-header {
  display: flex;
  justify-content: space-between;
}
header .body-header .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .body-header .nav-header nav {
  display: flex;
  align-items: center;
}
header .body-header .nav-header nav ul {
  display: flex;
  margin-bottom: 0;
}
header .body-header .nav-header nav ul li {
  list-style: none;
}
header .body-header .nav-header nav ul li a {
  font-size: 18px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 70px;
  color: #181615;
}
header .body-header .nav-header nav ul li a.active, header .body-header .nav-header nav ul li a:hover {
  color: #F79150;
}
header .body-header .nav-header nav ul li a.active span, header .body-header .nav-header nav ul li a:hover span {
  color: #F79150;
}
header .body-header .nav-header nav ul li a .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
header .body-header .nav-header nav ul li:nth-last-child(1) span {
  display: flex;
  align-items: center;
}
header .body-header .nav-header nav ul li:nth-last-child(1) img {
  height: 30px;
  margin-right: 4px;
}
header .body-header .nav-header .phone-header {
  display: flex;
  margin-left: 30px;
}
header .body-header .nav-header .phone-header a {
  display: flex;
  align-items: center;
}
header .body-header .nav-header .phone-header a img {
  margin-right: 8px;
}
header .body-header .nav-header .phone-header a span {
  color: #283783;
  font-size: 18px;
  font-weight: 600;
}
header .body-header .nav-header .button-action-header {
  display: flex;
  margin-left: 30px;
}
header .body-header .nav-header .button-action-header a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-radius: 8px;
  background: #283783;
}
header .body-header .nav-header .button-action-header a img {
  margin-right: 8px;
}
header .body-header .nav-header .button-action-header a span {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
header .body-header .nav-header .button-action-header a span:nth-child(2) {
  margin-left: 4px;
  font-size: 22px;
}
header .body-header .nav-header .button-action-header a:hover {
  background: #F79150;
}

.photo-hero img {
  width: 100%;
}

.our-team-section {
  text-align: center;
}

.item-member {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.item-member img {
  width: 200px;
  border-radius: 100px;
  height: 200px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-member b {
  display: inline-block;
  width: 100%;
}
.item-member span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  color: #444342;
}

.about-page-section-02 {
  background: #00425A;
  padding: 60px 0;
}
.about-page-section-02 .col-md-12:nth-last-child(1) .infor-section-2-about {
  margin-bottom: 0 !important;
}
.about-page-section-02 .infor-section-2-about {
  border-radius: 8px;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: var(--secondary-30, #00425A);
  padding: 20px;
  border-radius: 8px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.about-page-section-02 .infor-section-2-about img {
  margin-right: 20px;
}
.about-page-section-02 .infor-section-2-about .infor-about-value {
  display: inline-block;
  width: 100%;
}
.about-page-section-02 .infor-section-2-about .infor-about-value b {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #BFDB38;
}
.about-page-section-02 .infor-section-2-about .infor-about-value span {
  font-size: 16px;
  color: #99B3BD;
}

.about-page-hero {
  position: relative;
}
.about-page-hero::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: inline-block;
  background: url(../images/about-before.svg) no-repeat;
  width: 647px;
  height: 732px;
  background-size: contain;
}
.about-page-hero h1::after {
  display: none;
}
.about-page-hero p {
  position: relative;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.about-page-hero p::after {
  width: 214px;
  height: 169px;
  background: url(../images/stamp-title-about.png) no-repeat;
  content: "";
  position: absolute;
  right: -234px;
  top: 0;
  background-size: contain;
}

.hero-slide {
  display: inline-block;
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
}
.hero-slide h1 {
  color: #283783;
}
.hero-slide .row {
  align-items: center;
}
.hero-slide .infor-hero {
  color: #181615;
}
.hero-slide .infor-hero h1 {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.hero-slide p {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
}

.m40 {
  margin: 40px 0;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 0;
}

.item-section-2 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.item-section-2 span, .item-section-2 label {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.item-section-2 span {
  font-size: 50px;
  margin-bottom: 0;
}
.item-section-2 label {
  font-size: 16px;
  color: #444342;
}

.modal-body {
  padding: 30px;
}

.button-action {
  display: flex;
  width: 100%;
  text-align: center;
}
.button-action.center {
  justify-content: center;
}
.button-action.center a {
  margin: 0 10px;
}
.button-action.right {
  justify-content: right;
}
.button-action a {
  display: flex;
  align-items: center;
  height: 55px;
  border-radius: 8px;
  padding: 0 15px;
  justify-content: center;
  min-width: 200px;
  background: #283783;
  width: -moz-fit-content;
  width: fit-content;
}
.button-action a span {
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
  color: white;
}
.button-action a span:nth-child(2) {
  margin-left: 4px;
  font-size: 22px;
}
.button-action a:hover {
  background: #F79150;
}
.button-action a.orange {
  background: #F79150;
}
.button-action a.orange img {
  margin-right: 4px;
}
.button-action a.orange span {
  margin-right: 0 !important;
}
.button-action.fit-with {
  width: -moz-fit-content;
  width: fit-content;
}

.item-value-contact {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  width: 100%;
}
.item-value-contact b {
  margin: 0 15px;
  color: white;
  display: flex;
  align-items: center;
}
.item-value-contact b span {
  margin-left: 4px;
}
.item-value-contact .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

.section-2-about {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

section {
  padding: 60px 0;
  float: left;
  width: 100%;
  overflow: hidden;
}

.section-3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #EEEDE6;
  position: relative;
}
.section-3 .list-process {
  display: flex;
  justify-content: center;
}
.section-3 .list-process .item-process {
  width: 20%;
  padding: 0 20px;
}
.section-3 .list-process .item-process .cricle-process {
  width: 210px;
  height: 210px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background: white;
  padding: 30px 40px;
  text-align: center;
}
.section-3 .list-process .item-process .cricle-process img {
  height: 72px;
  margin-bottom: 15px;
}
.section-3 .list-process .item-process .cricle-process b {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #283783;
  height: 40px;
  display: inline-block;
  width: 100%;
  height: 45px;
}
.section-3 .list-process .item-process .cricle-process label {
  position: absolute;
  left: 20px;
  top: 0;
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  height: 40px;
  background: #BFDB38;
  color: white;
  font-size: 20px;
}
.section-3 .list-process .item-process span {
  font-size: 14px;
  color: #444342;
  display: inline-block;
  width: 100%;
}

.item-box-expands {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
}
.item-box-expands b {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 30px;
}
.item-box-expands b::before {
  width: 24px;
  position: absolute;
  left: 0;
  top: 1px;
  height: 24px;
  content: "";
  display: inline-block;
  background: url(../images/icon-lit.svg) no-repeat left;
  background-size: contain;
}
.item-box-expands p {
  display: none;
  margin-top: 10px;
  padding-left: 24px;
  color: #444342;
  margin-bottom: 0;
}
.item-box-expands:hover b {
  position: relative;
  opacity: 0.8;
}
.item-box-expands.active p {
  display: inline-block;
  width: 100%;
}
.item-box-expands.active b {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #F79150;
}
.item-box-expands.active b::before {
  width: 16px;
  height: 8px;
  top: 8px;
  background: url(../images/icon-lit-active.svg) no-repeat left;
  background-size: contain;
}

.title-section {
  text-transform: uppercase;
  text-align: center;
}
.title-section.white h2 {
  color: white;
}

.content-services-full {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}
.content-services-full .row {
  align-items: center;
}

.item-customer {
  display: inline-block;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.item-customer p {
  text-transform: none;
  color: #181615;
  text-align: left;
  display: inline-block;
  width: 100%;
}
.item-customer .other-customer {
  display: flex;
  align-items: center;
}
.item-customer .other-customer img {
  width: 35px;
  margin-right: 8px;
}
.item-customer .other-customer b {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 14px;
}
.item-customer .star-customer-rating {
  margin-bottom: 16px;
  display: flex;
}
.item-customer .star-customer-rating img {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.row-ask-us {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.row-ask-us .owl-dots {
  display: none;
}
.row-ask-us .owl-nav {
  position: absolute;
  width: 100%;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
}
.row-ask-us .owl-nav button {
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
}
.row-ask-us .owl-nav button:hover {
  background-color: none !important;
}
.row-ask-us .owl-nav button::after {
  content: "";
  display: inline-block;
  width: 50px;
  background-size: contain !important;
  height: 50px;
}
.row-ask-us .owl-nav button:nth-child(1)::after {
  background: url(../images/arrow-left.svg) no-repeat center top !important;
  background-size: contain !important;
}
.row-ask-us .owl-nav button:nth-child(2)::after {
  background: url(../images/arrow-right.svg) no-repeat center top !important;
  background-size: contain !important;
}
.row-ask-us .owl-nav button span {
  font-size: 0px;
}
.row-ask-us .owl-nav button.owl-next:hover, .row-ask-us .owl-nav button.owl-prev:hover {
  background: none !important;
}

.infor-contact {
  margin-top: 30px;
}
.infor-contact h6 {
  font-size: 22px;
}
.infor-contact p {
  color: #444342;
}
.infor-contact .phone-link {
  display: inline-block;
  width: 100%;
}
.infor-contact .phone-link a {
  font-size: 32px;
  color: #283783;
}
.infor-contact .buttonmaps {
  height: 50px;
  border-radius: 100px;
  border: 1px solid #283783;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}
.infor-contact .buttonmaps img {
  margin-left: 5px;
}
.infor-contact .buttonmaps span {
  font-size: 16px;
  color: #283783;
}

.editor-blogs {
  display: inline-block;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.editor-blogs p {
  font-size: 16px;
}
.editor-blogs .sumary-blogs {
  float: right;
  width: 200px;
  padding: 20px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
  background: white;
  border-radius: 8px;
}
.editor-blogs .sumary-blogs ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.editor-blogs .sumary-blogs ul li {
  list-style: none;
  text-align: left !important;
}
.editor-blogs .sumary-blogs ul li a {
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: left !important;
}
.editor-blogs .sumary-blogs b {
  color: #283783;
  text-transform: uppercase;
  font-size: 13px;
  text-align: left !important;
  display: inline-block;
  width: 100%;
}

.editor-section {
  display: inline-block;
  padding: 180px 0;
  width: 100%;
  padding: 180px 50px 100px 50px;
  background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
}
.editor-section h1 {
  font-weight: 400;
  color: #283783;
}
.editor-section::before {
  background: url(../images/contact-before.svg) no-repeat;
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 80px;
  width: 352px;
  height: 580px;
  background-size: contain;
}
.editor-section::after {
  background: url(../images/contact-after.svg) no-repeat;
  content: "";
  z-index: 0;
  position: absolute;
  right: 0;
  top: 80px;
  width: 352px;
  height: 580px;
  background-size: contain;
}

body .policy-section {
  padding-bottom: 20px !important;
}
body .policy-section h1::after {
  display: none;
}

.editor-blogs-section {
  padding-top: 0 !important;
}

.title-other-blogs {
  margin: 60px 0;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.title-other-blogs h5 {
  font-size: 18px;
  text-transform: uppercase;
}

.editor-blogs {
  margin: auto;
  max-width: 800px;
  padding-top: 0;
  display: inherit;
  margin-top: 60px;
  position: relative;
}
.editor-blogs h2, .editor-blogs h3, .editor-blogs h4, .editor-blogs h5, .editor-blogs h6, .editor-blogs span, .editor-blogs b, .editor-blogs label, .editor-blogs strong, .editor-blogs i, .editor-blogs em {
  text-align: justify !important;
}
.editor-blogs p {
  text-align: justify !important;
  margin-bottom: 20px !important;
}
.editor-blogs img {
  margin-bottom: 20px;
}

.sumary-blogs {
  position: absolute;
  border: 1px solid #DFDFDF;
  right: -220px;
  top: 0;
}

.tagBlogs {
  display: flex;
  align-items: center;
}
.tagBlogs b {
  color: #181615;
  font-size: 12px;
  text-transform: uppercase;
}
.tagBlogs a {
  border: 1px solid #283783;
  color: #283783;
  margin: 0 7px;
  padding: 4px 8px;
}

.contact-section {
  display: inline-block;
  width: 100%;
  padding: 100px 0 100px 0;
  background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
  background: url(../images/contact-bg.png) no-repeat center bottom;
}
.contact-section .content-popup {
  display: inline-block;
  width: 100%;
  background: white;
  max-width: 90%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
  margin-top: 30px;
}
.contact-section h1 {
  color: #283783;
  font-weight: 400;
}

.box-faqs {
  display: inline-block;
  width: 100%;
}

.infor-content-heroslide {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
}
.infor-content-heroslide .infor-hero {
  margin-top: -130px;
}

.img-heroslide {
  display: inline-block;
  width: 100%;
}
.img-heroslide img {
  width: 100%;
}
.img-heroslide img:nth-child(2) {
  display: none;
}

.infor-hero {
  width: 100%;
  max-width: 51%;
}
.infor-hero .button-action a {
  background: #F79150;
}
.infor-hero .button-action span:nth-child(2) {
  margin-left: 4px;
  font-size: 22px;
}

.container {
  max-width: 1280px;
}

.section-6 .container h2 {
  text-align: center;
}

.position-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.position-title img {
  width: 30px;
}
.position-title .name-position {
  display: flex;
  justify-content: left;
}
.position-title .name-position b {
  margin-right: 10px;
  font-size: 13px;
}
.position-title .name-position label {
  font-size: 13px;
  max-width: 100px;
  color: #444342;
  text-align: left;
}

.infor-avatar-comment {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.infor-avatar-comment img {
  width: 76px;
  height: 76px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
.infor-avatar-comment p {
  text-align: left;
}

.section-5 {
  background: #F79150;
}
.section-5 .title-section {
  text-align: center;
}

.services-full-bototm {
  padding: 15px 15px;
}

.wallpaper-activity {
  position: relative;
  background: url(../images/wallpaper-activity.png) no-repeat center top;
  padding: 60px 0;
}
.wallpaper-activity .container {
  position: relative;
}
.wallpaper-activity img {
  width: 100%;
}

.activity-mb {
  display: none;
}

.contentn-activity {
  position: absolute;
  width: 100%;
  top: 28%;
  z-index: 1;
  padding: 0 18%;
  text-align: center;
}
.contentn-activity h3 {
  color: white;
  font-size: 32px;
}
.contentn-activity h3 b {
  font-weight: normal;
  font-size: 32px;
}
.contentn-activity h3 span img {
  width: auto;
}

.item-services-full-bottom {
  display: flex;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  background: white;
  align-items: center;
  margin-bottom: 30px;
}
.item-services-full-bottom h6 {
  font-size: 16px;
}
.item-services-full-bottom:hover a, .item-services-full-bottom:hover span {
  color: #F79150;
}
.item-services-full-bottom a {
  color: #283783;
}
.item-services-full-bottom img {
  width: 100px;
}
.item-services-full-bottom span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #283783;
  rotate: 45deg;
}

.white-section {
  background: white !important;
}

.item-value-section-aboutus {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
}
.item-value-section-aboutus img {
  height: 100px;
  margin-bottom: 20px;
}
.item-value-section-aboutus h5 {
  color: #283783;
}
.item-value-section-aboutus span {
  color: #444342;
}

.title-aboutUs {
  max-width: 750px;
  width: 100%;
  display: inline-block;
}
.title-aboutUs p {
  color: #444342;
}

.item-services-full-bottom > a {
  margin-right: 12px;
}

.button-viewall {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.button-viewall .button-action {
  width: -moz-fit-content;
  width: fit-content;
}
.button-viewall .button-action a {
  background: #F79150;
}

.section-4 {
  position: relative;
  background: linear-gradient(180deg, #FFF 65.94%, #DCE4F1 100%);
  width: 100%;
}
.section-4 .row .button-action {
  margin-top: 20px !important;
}
.section-4 .row:nth-child(1) h3, .section-4 .row:nth-child(3) h3 {
  color: #283783;
}
.section-4 .row:nth-child(1) .button-action, .section-4 .row:nth-child(3) .button-action {
  margin-top: 20px !important;
}
.section-4 .row:nth-child(1) .button-action a, .section-4 .row:nth-child(3) .button-action a {
  background: white !important;
  border: 1px solid #283783;
  color: #283783;
}
.section-4 .row:nth-child(1) .button-action a span, .section-4 .row:nth-child(3) .button-action a span {
  color: #283783;
}
.section-4 .row:nth-child(1) .button-action a:hover, .section-4 .row:nth-child(3) .button-action a:hover {
  background: #F79150 !important;
  border: 1px solid #F79150 !important;
  color: white !important;
}
.section-4 .row:nth-child(1) .button-action a:hover span, .section-4 .row:nth-child(3) .button-action a:hover span {
  color: white !important;
}
.section-4 .row:nth-child(even) {
  flex-direction: row-reverse;
}
.section-4 .row:nth-child(even) .col-md-6:nth-child(2) {
  padding-left: 15px !important;
  padding-right: 60px !important;
}
.section-4 .row:nth-child(even) .col-md-6:nth-child(1) {
  padding-left: 60px !important;
  padding-right: 15px !important;
}
.section-4 .row:nth-child(even) h3 {
  color: #283783;
}
.section-4 .row:nth-child(even) .button-action a {
  background: white !important;
  border: 1px solid #283783;
  color: #283783;
}
.section-4 .row:nth-child(even) .button-action a span {
  color: #283783;
}
.section-4 .row:nth-child(even) .button-action a:hover {
  background: #F79150 !important;
  border: 1px solid #F79150 !important;
  color: white !important;
}
.section-4 .row:nth-child(even) .button-action a:hover span {
  color: white !important;
}
.section-4 .col-md-6:nth-child(odd) {
  padding-right: 60px;
}
.section-4 .col-md-6:nth-child(even) {
  padding-left: 60px;
}

.list-process {
  display: inline-block;
  width: 100%;
  position: relative;
}
.list-process::before {
  height: 1px;
  width: 80%;
  border-bottom: 1px dashed #00425A;
  position: absolute;
  left: 10%;
  top: 28%;
  content: "";
  display: inline-block;
}

.item-box-faqs {
  display: inline-block;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #DFDFDF;
}
.item-box-faqs b {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 24px;
  cursor: pointer;
}
.item-box-faqs b::before {
  width: 24px;
  position: absolute;
  right: 0;
  top: 2px;
  height: 24px;
  content: "";
  display: inline-block;
  background: url(../images/dropdown-icon.svg) no-repeat left;
  background-size: contain;
}
.item-box-faqs p {
  display: none;
  margin-top: 10px;
  color: #444342;
  padding: 20px;
  font-size: 14px;
  color: #444342;
  border-radius: 8px;
  background: var(--White, #FFF);
}
.item-box-faqs:hover b {
  position: relative;
  opacity: 0.8;
}
.item-box-faqs.active p {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.item-box-faqs.active b {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #283783;
}
.item-box-faqs.active b::before {
  width: 24px;
  height: 24px;
  top: 2px;
  background: url(../images/dropdown-icon-active.svg) no-repeat left;
  background-size: contain;
}

.bottom-footer {
  background: #29306d;
  padding: 40px;
  position: relative;
  z-index: 1;
  border-radius: 60px 60px 0 0;
  padding-bottom: 10px;
}

.item-adress-footer {
  display: flex;
}
.item-adress-footer p, .item-adress-footer span {
  color: #fff;
  font-size: 16px;
}
.item-adress-footer p {
  margin-right: 15px;
  margin-bottom: 5px;
}
.item-adress-footer p span {
  color: #F79150;
}
.item-adress-footer img {
  margin-right: 4px;
  height: 20px;
}

.description-footer {
  width: 100%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7294117647);
  margin-bottom: 20px;
}

.logo-footer {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.leden-footer {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #323a7c;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leden-footer img {
  margin-right: 8px;
}
.leden-footer span {
  color: #c5c7d7;
}

.heading-blogsdetail {
  text-align: left;
}
.heading-blogsdetail span {
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: 100%;
  color: #283783;
  text-transform: uppercase;
}
.heading-blogsdetail h1 {
  text-transform: none;
  text-align: left !important;
  margin-top: 16px;
  display: inline-block !important;
  width: 100% !important;
  color: #181615 !important;
}

.flex-blogs-heading {
  display: flex;
  align-items: center;
}

.pagging-page {
  width: 100%;
}
.pagging-page .pagination {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.pagging-page ul li a,
.pagging-page ul li span {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #444342;
  padding: 4px;
  font-weight: 500;
}
.pagging-page ul li a.active,
.pagging-page ul li span.active {
  color: #283783;
  border: 1px solid #283783;
  padding-top: 5px;
}
.pagging-page ul li:hover a {
  color: white;
  background-color: #283783;
}

.header-first-page p.center-heading {
  text-align: center !important;
  margin: auto;
  display: block;
  max-width: 800px;
}

.body-page-header {
  display: inline-block;
  width: 100%;
  padding: 100px 0 60px 0;
}

.value-section-aboutus {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
  background: #F5F7FB;
}

.heading-policy {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.editor-blogs img {
  margin-bottom: 20px !important;
}

.header-first-page h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.header-first-page p {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}
.header-first-page img {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  color: #283783;
}

.menu-mobile {
  display: none;
}

.modal-open .modal {
  display: flex !important;
  align-items: center;
}

.content-popup h6 {
  color: #283783;
  display: inline-block;
  margin-bottom: 30px;
}
.content-popup form {
  display: inline-block;
  width: 100%;
}
.content-popup form input {
  background: #F8F8F8;
  border-radius: 8px;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  display: inline-block;
  height: 50px;
  border: 1px solid #DFDFDF;
}
.content-popup form textarea {
  background: #F8F8F8;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  display: inline-block;
  height: 150px;
  border: 1px solid #DFDFDF;
}
.content-popup form textarea:focus {
  background: white;
}

.item-value-mobile {
  text-align: left;
}

img.icon-value-mobile-first {
  margin-left: 12%;
  margin-bottom: 20px;
}

.title-value-item {
  display: inline-block;
  width: 100%;
}
.title-value-item img {
  width: 83%;
}
.title-value-item b {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  position: absolute;
  top: 32%;
  color: white;
  left: 18%;
}
.title-value-item b span {
  text-transform: uppercase;
  font-size: 24px;
  display: inline-block;
  width: 100%;
}

.item-value-mobile p {
  padding-left: 18%;
  display: inline-block;
  width: 80%;
  margin-top: 15px;
}

.brand-mobile b {
  left: 27%;
}

.yellow-mobile b {
  left: 27%;
}

.link-footer {
  display: inline-block;
  width: 100%;
}
.link-footer span {
  display: inline-block;
  width: 100%;
  color: #F79150;
  margin-bottom: 20px;
}
.link-footer a {
  padding: 5px 0;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.7294117647);
}
.link-footer a img {
  margin-right: 4px;
  opacity: 0.7;
}
.link-footer a:hover {
  color: white;
}
.link-footer a:hover img {
  opacity: 1 !important;
}

footer {
  background: #283783;
  display: inline-block;
  padding: 0 50px;
  position: relative;
  width: 100%;
}
footer .action-footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 70px;
  background: #283783;
  text-align: center;
}
footer .action-footer h2 {
  color: #F79150;
  margin-top: 60px;
  position: relative;
  max-width: 800px;
  margin: auto;
  z-index: 1;
  margin-bottom: 20px;
}
footer .action-footer p {
  font-size: 20px;
  position: relative;
  z-index: 1;
  color: white;
}
footer .action-footer .button-action a:hover {
  background: #ff811b;
}
footer .action-footer::after {
  background: url(../images/footer-after.svg) no-repeat center;
  width: 285px;
  position: absolute;
  right: 0;
  top: 0;
  height: 361px;
  background-size: contain;
  content: "";
  display: inline-block;
  z-index: 0;
}
footer .action-footer::before {
  background: url(../images/footer-before.svg) no-repeat center;
  width: 168px;
  height: 310px;
  background-size: contain;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.cate-blogs a {
  font-size: 12px;
}

.item-large-blogs {
  width: 100%;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 60px;
}
.item-large-blogs .thumbnails-blogs {
  float: left;
  width: 100%;
}
.item-large-blogs .thumbnails-blogs a {
  position: relative;
  padding-top: 56%;
  display: block;
}
.item-large-blogs .thumbnails-blogs a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.infor-blogs {
  float: left;
  padding: 20px;
  background: white;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
.infor-blogs h6 a {
  font-size: 18px;
}

.body-blogs {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
}

.list-blogs-next {
  display: flex;
  flex-wrap: wrap;
}

.list-blogs-next p {
  font-size: 13px;
  color: #444342;
}

.large-item-head h6 a {
  font-size: 24px;
  color: #283783;
}
.large-item-head .cate-blogs a {
  font-size: 16px;
  color: #283783;
  font-weight: normal;
}

.line-contact {
  margin-right: -240px;
}

.page-sercices {
  background: white !important;
}

@media only screen and (max-width: 1500px) {
  .item-services-full-bottom {
    padding: 10px;
  }
  .item-services-full-bottom h6 {
    font-size: 14px;
  }
  .about-page-hero::before {
    top: 20px;
    width: 387px;
    height: 732px;
  }
  .contact-section h1 {
    font-size: 55px;
    position: relative;
    z-index: 1;
  }
  .hero-slide .infor-hero h1 {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .about-page-section-02 .container {
    max-width: 1000px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}
.value-section-mobile {
  display: none !important;
}

@media only screen and (max-width: 1300px) {
  .section-2-about::after {
    top: 130px;
    width: 202px;
  }
  header {
    padding: 3px 15px;
  }
  .section-3::before {
    width: 106px;
    height: 132px;
  }
  .section-4::before, .section-4::after {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .value-section-desktop, .background-value {
    display: none !important;
  }
  .value-section-mobile {
    display: block !important;
  }
}
@media only screen and (max-width: 1210px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  header .body-header .nav-header .button-action-header a {
    height: 45px;
  }
  .contact-section {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contact-section .content-popup {
    max-width: 100%;
  }
  .infor-content-heroslide .infor-hero {
    margin-top: -60px;
  }
  .section-3 .list-process .item-process .cricle-process {
    width: 160px;
    height: 160px;
  }
  .section-3 .list-process .item-process .cricle-process img {
    height: 42px;
  }
  .section-3 .list-process .item-process .cricle-process b {
    font-weight: 600;
    height: 40px;
    display: inline-block;
    width: 100%;
    height: 55px;
    font-size: 13px;
  }
  .section-3 .list-process .item-process .cricle-process label {
    position: absolute;
    left: 20px;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  .list-process::before {
    top: 19%;
  }
  header .body-header .nav-header nav ul li a {
    font-size: 16px;
    padding: 0 10px;
    height: 70px;
  }
  .section-4 .row:nth-child(even) .col-md-6:nth-child(2) {
    padding-left: 15px !important;
    padding-right: 0px !important;
  }
  .section-4 .col-md-6:nth-child(even) {
    padding-left: 0px;
  }
  h2 {
    font-size: 32px;
  }
  header .body-header .nav-header .phone-header {
    margin-left: 10px;
  }
  .item-adress-footer {
    display: inline-block;
  }
  .item-adress-footer p {
    display: inline-block;
  }
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .contentn-activity h3 {
    font-size: 22px;
  }
  .contentn-activity h3 b {
    font-weight: normal;
    font-size: 22px;
  }
  .contentn-activity {
    top: 26%;
  }
  .container {
    width: 100%;
    max-width: 100% !important;
    padding: 0 15px !important;
  }
  header {
    padding: 5px 15px !important;
  }
  footer {
    padding: 0 15px;
  }
  header .body-header .nav-header .phone-header a span {
    color: #1AB64B;
    font-size: 16px;
  }
  header .body-header .nav-header .button-action-header a span {
    font-size: 16px;
  }
  header .body-header .nav-header .button-action-header a img {
    margin-right: 5px;
    height: 18px;
  }
  .logo img {
    height: 38px;
  }
}
@media only screen and (max-width: 930px) {
  .img-heroslide img:nth-child(1) {
    display: none;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .infor-hero {
    width: 100%;
    max-width: 101%;
  }
  .hero-slide p {
    max-width: 63%;
  }
  .infor-content-heroslide .infor-hero {
    margin-top: -260px;
  }
  .img-heroslide img:nth-child(2) {
    display: block;
  }
  .title-value-item img, .item-value-mobile p {
    width: 100%;
  }
  .title-value-item b {
    top: 104px;
  }
  .about-page-hero .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section h1 {
    font-size: 32px;
    position: relative;
    z-index: 1;
  }
  .hero-slide .infor-hero h1::after {
    height: 31px;
    width: 290px;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 0;
    background-size: contain;
  }
  .section-3 .list-process .item-process .cricle-process {
    padding: 20px !important;
    width: 140px;
    height: 140px;
  }
  .list-process::before {
    top: 17%;
  }
  .nav-header {
    display: none !important;
  }
  .nav-header.active {
    display: block !important;
    position: fixed;
    right: 0;
    background: var(--White, #FFF);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
    top: 0;
    width: 300px;
    z-index: 9;
    background: white;
    padding: 40px;
  }
  .nav-header.active nav ul {
    display: inline-block !important;
    margin-bottom: 0;
  }
  .nav-header.active nav ul li a {
    display: inline-block;
    padding: 12px 0 !important;
    height: auto !important;
    font-size: 20px !important;
  }
  .nav-header.active .button-action-header {
    display: flex;
    margin-left: 0px !important;
    margin-top: 20px;
  }
  .nav-header.active .menu-mobile img.close-mobile {
    display: block !important;
    position: relative;
    z-index: 9;
  }
  header .body-header .nav-header .phone-header a span {
    color: #1AB64B;
    font-size: 18px;
  }
  header .body-header .nav-header .button-action-header a span {
    font-size: 18px;
  }
  header .body-header .nav-header .button-action-header a img {
    margin-right: 5px;
    height: 22px;
  }
  .menu-mobile {
    display: inline-block !important;
    position: relative;
    z-index: 9;
  }
  .menu-mobile img {
    height: 22px;
    margin-top: 5px;
  }
  .menu-mobile img.close-mobile {
    display: none !important;
  }
  .menu-mobile img.click-mobile {
    display: inline-block !important;
  }
  .menu-mobile.active img.close-mobile {
    display: block !important;
  }
  .menu-mobile.active img.click-mobile {
    display: none !important;
  }
  .phone-header {
    margin-top: 20px;
    margin-left: 0 !important;
  }
  .section-2-about p {
    padding: 0 50px;
  }
}
.row-ask-us .item {
  padding: 0 5px;
}

@media only screen and (max-width: 767px) {
  .value-section-aboutus .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .line-contact {
    display: none;
  }
  .body-page-header {
    padding: 50px 0 60px 0;
  }
  .body-blogs {
    margin-top: 20px;
  }
  .list-blogs-next .item-large-blogs {
    min-height: 120px;
    position: relative;
    padding-left: 170px;
  }
  .list-blogs-next .item-large-blogs .thumbnails-blogs {
    width: 160px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .list-blogs-next .item-large-blogs p {
    display: none;
  }
  .list-blogs-next .item-large-blogs h6 a {
    font-size: 16px;
  }
  .item-large-blogs {
    margin-bottom: 20px;
  }
  .item-services-full-bottom {
    border: 1px solid #DFDFDF;
  }
  .header-first-page {
    text-align: center;
  }
  .header-first-page p {
    max-width: 100%;
  }
  .item-value-contact {
    flex-wrap: wrap;
  }
  .item-value-contact b {
    margin-bottom: 15px;
  }
  .wallpaper-activity {
    background-size: cover;
  }
  .row-ask-us .item {
    padding: 0 30px;
  }
  .title-value-item img, .item-value-mobile p {
    width: 280px;
  }
  .activity-mb {
    display: block;
    margin-top: 30px;
  }
  .contentn-activity b {
    display: inline-block;
    width: 100%;
    font-size: 35px !important;
  }
  .contentn-activity {
    position: relative;
    padding: 0;
  }
  .activity-pc {
    display: none;
  }
  img.icon-value-mobile-first {
    margin-left: 15px;
  }
  .title-value-item b {
    top: 109px;
    left: 59px;
  }
  .item-value-mobile {
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
  }
  .title-value-item {
    width: 300px;
  }
  body .brand-mobile b, body .yellow-mobile b {
    left: 89px !important;
  }
  .infor-content-heroslide .infor-hero {
    margin-top: 0;
  }
  .hero-slide p {
    font-size: 16px;
  }
  .about-page-hero::before {
    top: 40px;
    width: 257px;
    height: 732px;
  }
  .about-page-hero p {
    max-width: 170px;
  }
  .about-page-hero p::after {
    width: 124px;
    height: 129px;
    right: -124px;
  }
  .our-team-section .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .our-team-section .col-md-3 img {
    width: 120px;
    height: 120px;
  }
  .leden-footer {
    margin-top: 20px;
  }
  .link-footer {
    margin: 20px 0;
  }
  .link-footer span {
    margin-bottom: 5px;
  }
  .about-page-section-02 .infor-section-2-about {
    display: inline-block !important;
  }
  .about-page-section-02 .infor-section-2-about img {
    margin-bottom: 10px;
  }
  .section-2-about p {
    padding: 0 0px;
  }
  .section-2-about .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .item-section-2 span {
    font-size: 28px;
  }
  .item-section-2 img {
    height: 64px;
  }
  section {
    padding: 30px 0;
    width: 100%;
    overflow: hidden;
  }
  .button-action {
    flex-flow: wrap;
  }
  .section-2-about .button-action {
    margin-bottom: 20px !important;
  }
  .section-2-about .button-action a {
    margin-bottom: 20px;
  }
  .item-process {
    width: 100% !important;
    display: inline-block;
  }
  .list-process {
    display: inline-block !important;
    width: 100%;
  }
  .list-process::before {
    display: none;
  }
  .item-process {
    margin-bottom: 30px;
  }
  .section-3 .list-process .item-process span {
    margin-top: 7px !important;
  }
  body .section-4 .col-md-6 {
    padding: 0 15px !important;
    margin-bottom: 10px !important;
  }
  .section-4 .row:nth-child(even) .col-md-6:nth-child(1) {
    padding: 0 15px !important;
  }
  footer .action-footer::before {
    width: 68px !important;
  }
  footer .action-footer::after {
    width: 95px;
    height: 121px;
  }
  .bottom-footer {
    padding: 30px 15px 0 15px;
  }
  .infor-hero {
    margin-bottom: 30px;
  }
  header .body-header {
    align-items: center;
  }
  .logo img {
    height: 60px;
  }
}
.alert-toast {
  position: fixed;
  right: 15px;
  z-index: 999;
  text-align: right;
  top: 15px;
}
.alert-toast b {
  padding: 15px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.alert-toast b img {
  margin-right: 8px;
}
.alert-toast b span {
  color: white;
  font-weight: 400;
}
.alert-toast b.success-alert {
  background: #283783;
}
.alert-toast b.error-alert {
  background: #F79150;
}/*# sourceMappingURL=style.css.map */